.button {
  padding: 17px;
  text-align: center;
  border-radius: 7px;
  width: 500px;
  font-size: 20px;
  font-family: "sf rounded", "Segoe UI", sans-serif;
}

.button.light-bg {
  color: black;
  background-color: white;
  border: 2px solid white;
}

.button.dark-bg {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.button.dark-bg:hover {
  color: black;
  background-color: white;
}
