#fifth {
  position: relative;
  margin-top: -240%;
  height: 1400px;
}

#fifth-panel {
  transform: translateY(200px);
  opacity: 0;
  width: 950px;
}

@media all and (min-width: 1600px) {
  #fifth img {
    width: 1050px;
  }
}
