footer {
  margin-top: -4200px;
  position: relative;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  transform: translateY(1400px);
  background-color: black;
}

footer .l-center {
  margin-top: 181px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  display: flex;
  align-items: stretch;
  gap: 120px;
  width: 1150px;
}

footer img {
  width: 370px;
}

footer .button + .button {
  margin-top: 30px;
}

.footer-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-h1 {
  z-index: 1;
  color: white;
  opacity: 0;
  position: fixed;
  top: 0;
  mix-blend-mode: difference;
}

.footer-video-popup {
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 500ms ease-in-out;
}

.footer-video-popup.is-active {
  opacity: 1;
  pointer-events: all;
}

.footer-video-popup video {
  pointer-events: none;
  opacity: 0;
  width: 70%;
  box-shadow: 00 0 40px 10px rgb(0, 0, 0, 0.5);
  transition: all 500ms ease-in-out;
  transition-delay: 100ms;
}

.footer-video-popup video.is-active {
  display: block;
  opacity: 1;
  pointer-events: all;
}
