footer {
  justify-content: center;
  background-color: white;
}

footer .l-center {
  display: flex;
  background-color: white;
  gap: 120px;
}

footer img {
  width: 370px;
}

#footer-h1 {
  position: fixed;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 660px;
  z-index: 1;
}

.footer-blend {
  background-color: white;
  mix-blend-mode: difference;
}
