footer {
  margin-top: -4200px;
  position: relative;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  transform: translateY(1400px);
  background-color: black;
}

footer .l-center {
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  display: flex;
  align-items: stretch;
  gap: 120px;
  width: 1150px;
}

footer img {
  width: 370px;
  z-index: 1;
}

footer .button + .button {
  margin-top: 30px;
}

.footer-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-blend {
  position: absolute;
  inset: 0;
  background-color: black;
}

#footer-h1 {
  color: white;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  mix-blend-mode: difference;
}
