footer {
  justify-content: center;
  background-color: white;
}

footer .l-center {
  height: fit-content;
  display: flex;
  background-color: white;
  gap: 120px;
}

footer img {
  width: 370px;
}

footer .button + .button {
  margin-top: 30px;
}

#footer-h1 {
  position: fixed;
}

.footer-text {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.footer-blend {
  background-color: white;
  mix-blend-mode: difference;
}
