#seventh {
  pointer-events: none;
  height: 3000px;
  margin-top: -4000px;
}

#seventh img {
  margin-top: 200px;
  transform: translateY(1000px);
  scale: 1.2;
  margin-left: auto;
  margin-right: auto;
  width: 1150px;
}

@media all and (min-width: 1600px) {
  #seventh img {
    width: 1250px;
  }
}
