#sixth {
  z-index: 1;

  height: 3000px;
  margin-top: -1000px;
}

#sixth img {
  opacity: 0;
  transform: translateY(200px);
}

#sixth-left {
  width: 560px;
}

#sixth-right {
  width: 270px;
}

#sixth .l-center {
  gap: 120px;
}

#sixth-bubble {
  z-index: 1;
  opacity: 0;
  top: 380;
  right: 380;
  position: fixed;
  width: 430px;
}

@media all and (min-width: 1600px) {
  #sixth-left {
    width: 660px;
  }

  #sixth-right {
    width: 370px;
  }

  #sixth-bubble {
    width: 530px;
  }
}
