#third {
  margin-top: -1200px;
  height: 5000px;
  position: relative;
  z-index: 1;
}

#third img {
  width: 370px;
  opacity: 0;
  transform: translateY(200px);
}

#third .l-center {
  gap: 200px;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
}

@media all and (min-width: 1600px) {
  #third img {
    width: 470px;
  }
}
