* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
}

h1 {
  font-family: "reload alt";
  position: absolute;
  width: 100%;
  margin-top: 80px;
  font-size: 132;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: "sf pro text", "segoe", sans-serif;
  font-size: 20px;
  line-height: 119%;
}
