* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
}

h1 {
  font-family: "reload alt", sans-serif;
  position: absolute;
  width: 100%;
  margin-top: 80px;
  font-size: 132px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: "sf pro text", "Segoe UI", sans-serif;
  font-size: 20px;
  line-height: 125%;
}

body {
  pointer-events: none;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/cursor-scroll.svg");
  background-color: red;
  pointer-events: none; /* Ensure the custom cursor doesn't interfere with content */
}

@media all and (min-width: 1600px) {
  h1 {
    font-size: 172px;
  }
}
