@font-face {
  font-family: "Reload Alt";
  src: url("../fonts/ReloadAlt-Regular.woff2") format("woff2"),
    url("../fonts/ReloadAlt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
