.l-wrapper {
  overflow: hidden;
}

.l-paralax {
  position: relative;
  height: 100vh;
}

.l-speech-overlay {
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  top: 310;
  gap: 450px;
  justify-content: center;
  align-items: flex-end;
}

.l-speech-overlay img {
  opacity: 0;
  height: fit-content;
}

.l-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-black-bg {
  background-color: black;
}

.l-white-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 400px,
    rgba(255, 255, 255, 1) 400px
  );
}
