.l-paralax {
  position: relative;
  height: 100vh;
}

.l-speech-overlay {
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  top: 310;
  gap: 450px;
  justify-content: center;
  align-items: flex-end;
}

.l-speech-overlay img {
  opacity: 0;
  height: fit-content;
}

.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
