.l-wrapper {
  pointer-events: none;
  overflow: hidden;
}

.l-paralax {
  pointer-events: none;
  position: relative;
  height: 100vh;
}

.l-speech-overlay {
  pointer-events: none;
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  top: 310;
  gap: 450px;
  justify-content: center;
  align-items: flex-end;
}

.l-speech-overlay img {
  pointer-events: none;
  opacity: 0;
}

.l-center {
  pointer-events: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-black-bg {
  pointer-events: none;
  background-color: black;
}

.l-white-bg {
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 650px,
    rgba(255, 255, 255, 1) 650px
  );
}
