.l-paralax {
  position: relative;
  height: 100vh;
}

.l-speech-overlay {
  position: fixed;
  display: flex;
  width: 100%;
  top: 310;
  padding: 0 170px;
  justify-content: space-between;
  align-items: flex-end;
}

.l-speech-overlay img {
  opacity: 0;
  height: fit-content;
}
